.joke-button {
  position: fixed;
  width: 30%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;

  img {
    width: 100%;
  }
  h2 {
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem;
    width: 80%;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  }
}
.random-joke {
  left: 3%;
  &:hover {
    transform: scale(1.2) translateX(2px) rotate(8deg);
  }
}
.all-jokes {
  right: 3%;
  bottom: 0;
  &:hover {
    transform: scale(1.2) translateX(2px) rotate(-8deg);
  }
}
