@font-face {
  font-family: "Caramel-candy";
  src: url(./assets/fonts/Quick-Beige.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --title-font: "Caramel-candy";
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button {
  padding: 0.5rem;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 5px;
  border: solid 1px rgb(211, 211, 211);
  cursor: pointer;
  transition: all 1s ease;
  &:hover {
    transform: scale(1.1);
  }
}
main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #feee02;
  .carambar-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.carambar-img {
  width: 100%;
  object-fit: cover;
}
.modal-one-joke {
  top: 30%;
  left: 30%;
  right: 30%;
  bottom: 30%;
}
.modal-list {
  top: 10%;
  left: 30%;
  right: 30%;
  bottom: 10%;
}
.modal {
  z-index: 100;
  position: fixed;
  background-color: #feee02;
  border-radius: 10px;
  padding: 2rem;
  overflow: scroll;
  h2,
  .button-list {
    color: white;
    padding: 0.5rem;
    font-weight: 500;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 5px;
  }
  h2 {
    font-size: 2rem;
  }
  .all-jokes-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    .button-list {
      width: 100%;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      white-space: normal;
      word-break: break-word;
      overflow-wrap: break-word;
      text-align: center;
      p {
        color: black;
        font-size: 1rem;
      }
    }
  }
  .one-joke-question-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      font-size: 1.2rem;
      img {
        width: 1rem;
      }
    }
    p {
      font-size: 1.2rem;
      color: black;
    }
  }

  .button-close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    top: 1%;
    right: 1%;
    border: none;
    outline: none;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.5);
    }
  }
}
form {
  height: 100%;
  fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 2rem;
    background-color: rgba(211, 211, 211, 0.4);
    padding: 2rem;
    legend {
      padding: 0.5rem;
      font-size: 1.5rem;
      background-color: #feee02;
      border-radius: 10px;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: 20%;
      font-size: 1.2rem;
      width: 100%;
      input {
        border-radius: 5px;
        height: 2rem;
        width: 100%;
        accent-color: #feee02;
      }
    }
    .button {
      color: black;
      margin: auto;
      min-height: 2rem;
      width: 10rem;
      border: 1px solid #feee02;
      background-color: rgb(211, 211, 211);
    }
    .gif-modal {
      width: 45%;
      margin: auto;
    }
  }
}
